body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url(https://cdn.fs.teachablecdn.com/XWEV6S6MRIuUGKL3rOCq)
    no-repeat center center fixed;
  background-size: cover;
}

/* body {
  margin: auto;
  display: flex;
  resize: both;
  overflow: scroll;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
} */

/* .container {
  width: 1200px;
  height: 500px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
} */

h1 {
  font-size: 3rem;
  color: white;
}

/* .mini_rectangle {
  height: 5px;
  width: 100px;
  border: none;
  background-color: #ff5912;
  margin: 0 50%;
  margin-top: 15%;
  border-radius: 16px;
} */

hr {
  margin: 20px auto;
  color: #ff5912;
  border: 2px solid #ff5912;
  max-width: 65px;
  opacity: 1;
  border-radius: 16px;
}

.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #ff5912;
  border-color: #ff5912;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
}
